{% from 'bootstrap5/utils.html' import render_messages %}
<!DOCTYPE html>
<html lang="ru">

<head>
    {% block head %}

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block styles %} {{bootstrap.load_css() }} {% endblock styles %}

        <title>{% block title %}{% endblock title %}</title>

    {% endblock head %}
</head>

<body>
    
    <main class="container mt-5">
        {{ render_messages(container=False, dismissible=True, dismiss_animate=True) }}
        {% block content %}{% endblock %}
    </main>
   
    {% block scripts %} {{bootstrap.load_js()}} {% endblock scripts %}
    
</body>

</html>